
name: CI

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    
env:
  CARGO_TERM_COLOR: always
  
jobs:
  test:
    name: Test for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - name: Install pre-commit & gitlint
        run: python -m pip install pre-commit gitlint
      - run: python -m pip freeze --local
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-3|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}
      - name: pre-commit validation
        run: pre-commit run --show-diff-on-failure --color=always --from-ref ${{ github.event.pull_request.base.sha || github.event.before || github.sha }}~ --to-ref ${{ github.sha }}
      - name: gitlint validation
        run: gitlint --commits ${{ github.event.pull_request.base.sha || github.event.before || github.sha }}~..${{ github.sha }}
        if: always()
      - name: Formatting
        run: cargo fmt --all --check
      - name: Linting
        run: cargo clippy --all-targets --all-features
      - name: Check
        run: cargo check 
      - name: Tests
        run: cargo test 
      - uses: pre-commit-ci/lite-action@v1.0.2
        if: always()
        with:
          msg: "chore: Apply automatic fixes"
